## Ignore Visual Studio files
.vs/
*.suo
*.user
*.log
*.docstates
*.vshost.*
*.opendb
*.opensdf
*.sdf
*.bak
*.scc
*.resharper
*.dotSettings
*.csproj.user
*.sln.docstates
*.bak
*.aps
*.o
*.obj
*.p
*.pch
*.pdb
*.pg
*.psess
*.tds
*.tlog
*.tmp
*.tsc
*.vcxproj.filters
*.vcxproj.user
*.filters
*.VC.db

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.exp
*.obj
*.idb
*.ipdb
*.iobj
*.log
*.resources
*.manifest
*.cache
*.codeanalysis.xml
_UpgradeReport_Files/
App_Data/*.mdf
App_Data/*.ldf
TestResults/

# NuGet packages
packages/
*.nupkg
.nuget/NuGetScratch/
.nuget/packages/
.nuget/tmp/

# Web development
node_modules/
bower_components/
npm-debug.log
*.sublime-project
*.sublime-workspace
*.vspscc
*.vssscc
*.vsct
*.css.map
*.js.map
*.min.css
*.min.js

# User-specific files
*/[Pp]roperties/launchSettings.json